@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);

body {
  width: 100%;
  height: 100%;
  background-color: #263238;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
}

.form {
  width: 612px;
  height: 412px;
  display: block;
  background-color: #313e45;
  border-radius: 25px;
/*   border: 5px solid #eceff1; */
  margin: 0 auto;
}

.box { 
    width: 50px; 
    height: 50px; 
    border: 20px solid #000000; 
    border-top: 20px solid red; 
    border-radius: 50%; 
    background-color: lightgray;

    animation: AAA .7s linear infinite; 
}
@keyframes AAA {
    0% { transform: rotate(0deg) ; }
    50%{ transform: rotate(180deg); } 
    100% { transform: rotate(359deg); } 
} 


/* Widgets */
.B {
  height: 60%;
  width: 50%;
  /*   background-color:red; */
  padding: 55px 0 0 70px;
  display: inline-block;
}

.T {
  height: 40%;
  width: 45%;
  /*   background-color:orange; */
  float: left;
  margin: 0;
  padding: 40px 0 0 50px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}


/* Top Div CSS */

#location {
  font-weight: 900;
  font-size: 25px;
}

#description {
  font-weight: 700;
  font-size: 25px;
  margin-top: 18px;
}




/* Divider */

.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: #263238;
}

/* Temperature CSS */

#temperature,
#celsius,
#temp-divider,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 60px;
  font-weight: 800;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#fahrenheit {
  margin-right: 5px;
  color: #b0bec5;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}

/* Bottom-Right CSS */

.details {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

.details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}

#tz, #state, #city
{
    display: none;
}
